.missions {
    background-color: var(--bg-clr-3);
}

.missions__title-wrapper {
    background-color: var(--clr-accent-1);
    padding: 5px 10px;
    text-align: center;
    box-shadow: 10px 0 25px var(--bg-clr-1);
}

.missions__title {
    color: var(--clr-neutral-2);
    font-family: 'Orbitron';

}

.missions__cards-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 25px;
}

.missions__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block: 25px;
    padding: 15px 20px;
    min-height: 250px;
    min-width: 250px;
    border-radius: 10px;
    background-color: var(--bg-clr-1);
    box-shadow: 10px 10px 25px var(--bg-clr-1);
    position: relative;
    isolation: isolate;
    cursor: pointer;
    overflow: hidden;
    transition: transform 3s;
}

.missions__card-title {
    text-align: center;
    font-family: 'Orbitron';
    font-size: 1.5rem;
    color: var(--clr-accent-1);
    background-color: var(--bg-clr-2);
    border-top: 2px solid var(--clr-accent-1);
    border-bottom: 2px solid var(--clr-accent-1);
    border-radius: 10px;
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 205px;
    transition: bottom 500ms;
}

.missions__card-description {
    text-align: justify;
    opacity: 0;
    transform: translateY(calc(100% + 250px));
    transition: transform, opacity, 500ms;
}

.missions__card:hover .missions__card-title {
    bottom: 10px;
}

.missions__card:hover .missions__card-description {
    opacity: 1;
    transform: translateY(0);
}

.missions__card img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
    z-index: -1;
}