header {
    background-color: var(--bg-clr-2);
    backdrop-filter: blur(15px);
    color: var(--clr-neutral-1);
    position: fixed;
    inset: 0 0 auto;
    z-index: 1;
    padding: 15px;
    box-shadow: 0 0 50px 15px var(--bg-clr-1);
    transition: transform 0.3s;
}

header::before,
header::after {
    border-bottom: var(--border-thickness-1) solid var(--clr-accent-1);
    transform: rotate(180deg) translateY(-100%);
}

header::before {
    content: '';
    position: absolute;
    inset: 0 calc(50% + 1.5rem) 0 0;
    border-bottom-left-radius: 20px;
}

header::after {
    content: '';
    position: absolute;
    inset: 0 0 0 calc(50% + 1.5rem);
    border-bottom-right-radius: 20px;
}

header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.branding,
.navlist {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.navlist a {
    transition: color var(--transition-time-1);
}

.navlist a:hover {
    color: var(--clr-accent-1);
}

.branding__title-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: var(--clr-accent-1);
    letter-spacing: 3px;
    font-size: 1.7rem;
    font-family: var(--font-2);
    border-bottom: var(--border-thickness-1) solid var(--clr-accent-1);
}

.branding h2 {
    font-size: 0.85rem;
    color: var(--clr-neutral-1);
}

.branding img {
    border-radius: 50%;
}

.navlist a {
    font-family: var(--font-2);
    font-size: 0.85rem;
    font-weight: bold;
    padding: 5px 10px;
}

.navlist a.navlist__current-section {
    color: var(--clr-accent-1);
    border-bottom: var(--border-thickness-1) solid var(--clr-accent-1);
}

.nav-btns__btn {
    background-color: transparent;
    color: var(--clr-neutral-3);
    border-radius: 50%;
    border: var(--border-thickness-1) solid var(--clr-neutral-3);
    width: 30px;
    aspect-ratio: 1;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 15px;
    transition: border-color, color, var(--transition-time-1);
}

.nav-btns__btn:hover {
    border-color: var(--clr-accent-1);
    color: var(--clr-accent-1)
}