.wrapper {
    margin-inline: auto;
    width: min(71.25rem, 80%);
}

.highlight {
    color: var(--clr-accent-1);
    font-family: 'Orbitron';
    font-size: 1.5rem;
}

.btn-one {
    color: var(--clr-neutral-2);
    background: var(--clr-accent-1);
    border-color: var(--clr-accent-1);
    border-radius: 5px;
    padding: 5px 10px;
}

.btn-two {
    border: 2px solid var(--clr-neutral-1);
    color: var(--clr-neutral-1);
    background: transparent;
    border-radius: 5px;
    padding: 5px 10px;
}