:root {
    /* Colors */
    --bg-clr-1: hsl(0, 0%, 0%);
    --bg-clr-2: hsl(0, 0%, 0%, 0.5);
    --bg-clr-3: hsl(0, 0%, 10%);

    --clr-neutral-1: hsl(0, 0%, 100%);
    --clr-neutral-2: hsl(0, 0%, 0%);

    --clr-accent-1: hsl(224, 100%, 68%);
    --clr-accent-2: hsl(224, 100%, 85%);

    /* Fonts */
    --font-1: 'Cormorant SC', serif;
}