/* ----- Cormorant SC | Regular ------ */

@font-face {
    font-display: swap;
    font-family: 'Cormorant SC';
    font-style: normal;
    font-weight: 400;
    src: url('../../assets/fonts/cormorant-sc/cormorant-sc-v18-latin-regular.woff2') format('woff2');
}

/* ----------------------------------- */


/* ------- Cormorant SC | 700 -------- */

@font-face {
    font-display: swap;
    font-family: 'Cormorant SC';
    font-style: normal;
    font-weight: 700;
    src: url('../../assets/fonts/cormorant-sc/cormorant-sc-v18-latin-700.woff2') format('woff2');
}

/* ----------------------------------- */


/* ------- Orbitron | Regular -------- */
@font-face {
    font-display: swap;
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 400;
    src: url('../../assets/fonts/orbitron/orbitron-v31-latin-regular.woff2') format('woff2');
}

/* ----------------------------------- */


/* --------- Orbitron | 700 ---------- */

@font-face {
    font-display: swap;
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 700;
    src: url('../../assets/fonts/orbitron/orbitron-v31-latin-700.woff2') format('woff2');
}

/* ----------------------------------- */