header {
    background-color: var(--bg-clr-2);
    backdrop-filter: blur(15px);
    color: var(--clr-neutral-1);
    position: fixed;
    inset: 0 0 auto;
    padding: 15px;
    border-bottom: 1px solid var(--clr-accent-1);
}

header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.branding,
.navlist {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.branding__title-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: var(--clr-accent-1);
    letter-spacing: 3px;
    font-size: 1.7rem;
    font-family: 'Orbitron';
    border-bottom: 2px solid var(--clr-accent-1);
}

.branding h2 {
    font-size: 0.85rem;
    color: var(--clr-neutral-1);
}

.branding img {
    border-radius: 50%;
}

.navlist a {
    font-family: 'Orbitron';
    font-size: 0.85rem;
    font-weight: bold;
    padding: 5px 10px;
}

.navlist a.navlist__current-section {
    color: var(--clr-accent-1);
    border-bottom: 2px solid var(--clr-accent-1);
}