footer {
    background-color: var(--bg-clr-1);
    background-size: cover;
    background-position: bottom;
    object-fit: cover;
    border-top: var(--border-thickness-1) solid var(--clr-accent-1);
    padding: 15px;
}

.footer-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-block: 10px 25px;
}

.footer-nav a {
    transition: color var(--transition-time-1);
    text-decoration: none;
}

.footer-nav a:hover {
    color: var(--clr-accent-1);
}

.footer-nav__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    font-family: var(--font-2);
    font-size: 0.8rem;
}

.footer-nav__list.social {
    align-items: center;
    font-size: 1rem;
}


.social a {
    color: var(--clr-accent-1);
}

.footer-nav__list a {
    font-weight: bold;
}

footer h3 {
    width: fit-content;
    margin-inline: auto;
    padding-inline: 10px;
    margin-bottom: 10px;
}

.footer-nav__copy-msg-highlight {
    border-bottom: var(--border-thickness-1) solid var(--clr-neutral-1);
    border-radius: 10px;
    padding-inline: 5px;
}

.copy-msg {
    --font-size: 1rem;
}