<!DOCTYPE html>
<html lang="pt">

<head>
    <title>Erro 404 | Página não encontrada</title>

    <!----------- Meta data ------------->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="authors" content="Filipe Ramos, Victor William, Yuri Castros, Arthur Yvens">
    <meta name="description" content="StarGaze: agência de missões e viagens espaciais">
    <meta name="keywords" content="StarGaze, space, espaço, agência espacial, space agency, agência, agency">
    <!----------------------------------->

    <!---------- Stylesheets ------------>
    <link rel="stylesheet" href="../static/css/404/404.css">
    <!----------------------------------->

    <!------------- Icons --------------->
    <link rel="stylesheet" href="../static/assets/misc/fontawesome-free-6.5.1-web/css/all.css">
    <link rel="icon" type="image/x-icon" href="../static/assets/imgs/logo.png">
    <!----------------------------------->
</head>

<body>

</body>

</html>