<!DOCTYPE html>
<html lang="pt">

<head>
    <title>StarGaze</title>

    <!----------- Meta data ------------->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="authors" content="Filipe Ramos, Victor William, Yuri Castros, Arthur Yvens">
    <meta name="description" content="StarGaze: agência de missões e viagens espaciais">
    <meta name="keywords" content="StarGaze, space, espaço, agência espacial, space agency, agência, agency">
    <!----------------------------------->

    <!------------- Icons --------------->
    <link rel="stylesheet" href="../static/assets/misc/fontawesome-free-6.5.1-web/css/all.css">
    <link rel="icon" type="image/x-icon" href="../static/assets/imgs/logo.png">
    <!----------------------------------->

    <!---------- Stylesheets ----------->
    <link rel="stylesheet" href="../static/css/global/boilerplate.css">
    <link rel="stylesheet" href="../static/css/global/custom-props.css">
    <link rel="stylesheet" href="../static/css/global/typography.css">
    <link rel="stylesheet" href="../static/css/global/fonts.css">

    <link rel="stylesheet" href="../static/css/sections/header.css">
    <link rel="stylesheet" href="../static/css/sections/hero.css">
    <link rel="stylesheet" href="../static/css/sections/missions.css">
    <link rel="stylesheet" href="../static/css/sections/footer.css">

    <link rel="stylesheet" href="../static/css/utils/misc.css">
    <!----------------------------------->

    <!----------- JavaScript ------------>
    <script type="module" src="../static/js/App.js"></script>
    <!----------------------------------->
</head>

<body>
    <header id='js-header'>
        <nav class="wrapper">
            <div class="branding">
                <img width='50' src="../static/assets/imgs/logo.png" alt="StarGaze's logo">
                <div class="branding__title-wrapper">
                    <h1>StarGaze</h1>
                    <h2>Missões e viagens espaciais</h2>
                </div>
            </div>

            <ul class="navlist">
                <li><a class='navlist__current-section' href="#">Início</a></li>
                <li><a href="#">Missões</a></li>
                <li><a class='btn-one' href="#">Login</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id='hero' class='hero'>
            <div class="wrapper">
                <div class="hero__description-wrapper">
                    <h2 class="hero__title"><span class="hero__welcome-highlight">Bem-vindo à</span><span
                            class='highlight'>StarGaze!</span></h2>
                    <p class='hero__description'>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis eligendi in et, iusto odit
                        sapiente
                        expedita aut repudiandae fugit fuga, sint natus, explicabo consequatur. Tempore esse atque est
                        quos
                        nam.
                    </p>
                    <div class="hero__btns-wrapper">
                        <button class="hero__btn btn-one">Missões</button>
                        <button class="hero__btn btn-two">Junte-se a nós</button>
                    </div>
                </div>
            </div>
        </section>

        <section id='missions' class='missions'>
            <div class="missions__title-wrapper">
                <h2 class="missions__title">Missões</h2>
            </div>

            <div class="wrapper">
                <div class="missions__cards-wrapper">
                    <div class="missions__card">
                        <div class="missions__card-text">
                            <h3 class="missions__card-title">ATLAS II</h3>
                            <p class="missions__card-description">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                Amet eius, nemo illo a quasi facere aut iure, natus hic odit dolor suscipit cumque ex
                                iusto
                                quia ea id sapiente error.
                            </p>
                        </div>
                        <img src="../static/assets/imgs/spaceship-1.jpg" alt="spaceship">
                    </div>

                    <div class="missions__card">
                        <div class="missions__card-text">
                            <h3 class="missions__card-title">MORPHEUS X</h3>
                            <p class="missions__card-description">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                Amet eius, nemo illo a quasi facere aut iure, natus hic odit dolor suscipit cumque ex
                                iusto
                                quia ea id sapiente error.
                            </p>
                        </div>
                        <img src="../static/assets/imgs/spaceship-2.jpg" alt="spaceship">
                    </div>

                    <div class="missions__card">
                        <div class="missions__card-text">
                            <h3 class="missions__card-title">PLUTUS IV</h3>
                            <p class="missions__card-description">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                Amet eius, nemo illo a quasi facere aut iure, natus hic odit dolor suscipit cumque ex
                                iusto
                                quia ea id sapiente error.
                            </p>
                        </div>
                        <img src="../static/assets/imgs/spaceship-3.jpg" alt="spaceship">
                    </div>
                </div>
            </div>

            <div class="missions__modal-wrapper">
                <div class="missions__modal-content-wrapper wrapper">
                    <h2 class="missions__modal-title">Gerenciar missões</h2>
                    <button class="missions__modal-close">
                        <i class="fa fa-close"></i>
                    </button>

                    <div class="missions__modal-options"></div>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <div class="wrapper">
            <nav class="footer-nav">
                <ul class="footer-nav__list primary">
                    <li><a href="#">Início</a></li>
                    <li><a href="#">Missões</a></li>
                    <li><a href="#">Junte-se a nós</a></li>
                </ul>

                <ul class="footer-nav__list secondary">
                    <li><a href="#">Cookies</a></li>
                    <li><a href="#">Privacidade</a></li>
                    <li><a href="#">Segurança</a></li>
                </ul>

                <ul class="footer-nav__list social">
                    <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
                </ul>
            </nav>

            <h3><span class="footer-nav__copy-msg-highlight">Copyright &copy; 2024</span><span
                    class='highlight copy-msg'>StarGaze</span></h3>
        </div>
    </footer>
</body>

</html>