<!DOCTYPE html>
<html lang="pt">

<head>
    <title>StarGaze</title>

    <!----------- Meta data ------------->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="authors" content="Filipe Ramos, Victor William, Yuri Castros, Arthur Yvens">
    <meta name="description" content="StarGaze: agência de missões e viagens espaciais">
    <meta name="keywords" content="StarGaze, space, espaço, agência espacial, space agency, agência, agency">
    <!----------------------------------->

    <!------------- Icons --------------->
    <link rel="stylesheet" href="../public/assets/misc/fontawesome-free-6.5.1-web/css/all.css">
    <link rel="icon" type="image/x-icon" href="../public/assets/imgs/logo.png">
    <!----------------------------------->

    <!---------- Stylesheets ----------->
    <link rel="stylesheet" href="../public/css/global/boilerplate.css">
    <link rel="stylesheet" href="../public/css/global/custom-props.css">
    <link rel="stylesheet" href="../public/css/global/typography.css">
    <link rel="stylesheet" href="../public/css/global/fonts.css">

    <link rel="stylesheet" href="../public/css/sections/header.css">
    <link rel="stylesheet" href="../public/css/sections/hero.css">
    <link rel="stylesheet" href="../public/css/sections/missions.css">
    <link rel="stylesheet" href="../public/css/sections/footer.css">

    <link rel="stylesheet" href="../public/css/utils/misc.css">
    <!----------------------------------->

    <!----------- JavaScript ------------>
    <script type="module" src="../public/js/App.js"></script>
    <!----------------------------------->
</head>

<body>
    <!-------- Header da página --------->
    <header id='js-header'>
        <nav class="wrapper">
            <div class="branding">
                <img width='50' src="../public/assets/imgs/logo.png" alt="StarGaze's logo">
                <div class="branding__title-wrapper">
                    <h1>StarGaze</h1>
                    <h2>Missões e viagens espaciais</h2>
                </div>
            </div>

            <ul class="navlist">
                <li><a class='navlist__current-section' href="#">Início</a></li>
                <li><a href="#">Missões</a></li>
                <li class='navlist__login'><a class='btn-one' href="#">Login</a></li>
            </ul>
        </nav>

        <div class="nav-btns">
            <button class="nav-btns__btn hide-nav"><i class="fa fa-chevron-up"></i></button>
        </div>
    </header>
    <!----------------------------------->

    <!------- Seções principais --------->
    <main>
        <!--------- Seção inicial ----------->
        <section id='hero' class='hero'>
            <div class="wrapper">
                <div class="hero__description-wrapper">
                    <h2 class="hero__title">
                        <span class="hero__welcome-highlight">Bem-vindo à</span><span class='highlight'>StarGaze!</span>
                    </h2>

                    <p class='hero__description'>
                        A StarGaze tem como uma de suas missões explorar planetas
                        habitáveis e estudar recursos estratégicos na Via Láctea e
                        Andrômeda. Fundada para ajudar e proteger os humanos e aliados da Via Láctea e Andrômeda, tem
                        por fim
                        aniquilar os Aeridians, que ambicionam dominar ambas as galáxias.
                    </p>

                    <div class="hero__btns-wrapper">
                        <button class="hero__btn btn-one">Missões</button>
                        <button class="hero__btn btn-two">Junte-se a nós</button>
                    </div>
                </div>
            </div>
        </section>
        <!----------------------------------->

        <!-------- Seção de missões --------->
        <section id='missions' class='missions'>
            <div class="missions__title-wrapper">
                <h2 class="missions__title">Missões</h2>
            </div>

            <div class="wrapper">
                <div class="missions__cards-wrapper">
                    <div class="missions__card">
                        <div class="missions__card-text">
                            <h3 class="missions__card-title">ATLAS II</h3>
                            <div class="missions__card-description">
                                <p class="missions__card-message">
                                    Estabeleceu base avançada para estudar anomalias gravitacionais no sistema
                                    estelar Zelphyr, na borda de Andrômeda, usada para investigar fenômenos cósmicos
                                    entre Andrômeda e a Via Láctea.
                                </p>
                                <div class="missions__card-info">
                                    <h4 class="missions__card-date">15/05/2121</h4>
                                    <h4 class="missions__card-date">Finalizada</h4>
                                </div>
                            </div>
                        </div>
                        <img src="../public/assets/imgs/spaceship-1.jpg" alt="spaceship">
                    </div>

                    <div class="missions__card">
                        <div class="missions__card-text">
                            <h3 class="missions__card-title">MORPHEUS X</h3>
                            <div class="missions__card-description">
                                <p class="missions__card-message">
                                    Destruir o planeta "Nova Aetheris", pertencente à civilização dos Aeridians,
                                    inimigos da raça humana e dos aliados da Via Láctea e de Andromeda desde a
                                    aniquilação da raça Seraphimiana.
                                </p>
                                <div class="missions__card-info">
                                    <h4>21/02/2124</h4>
                                    <h4>Em andamento</h4>
                                </div>
                            </div>
                        </div>
                        <img src="../public/assets/imgs/spaceship-2.jpg" alt="spaceship">
                    </div>

                    <div class="missions__card">
                        <div class="missions__card-text">
                            <h3 class="missions__card-title">PLUTUS IV</h3>
                            <div class="missions__card-description">
                                <p class="missions__card-message">
                                    Infiltrar-se na base principal dos Aeridians, a raça expansionista que visa
                                    conquistar Andrômeda e a Via Láctea, e desativar
                                    o
                                    gerador de campo de energia que protege sua frota de invasão.
                                </p>
                                <div class="missions__card-info">
                                    <h4 class="missions__card-date">27/12/2125</h4>
                                    <h4 class="missions__card-date">Agendada</h4>
                                </div>
                            </div>
                        </div>
                        <img src="../public/assets/imgs/spaceship-3.jpg" alt="spaceship">
                    </div>
                </div>
            </div>

            <div class="missions__modal-wrapper modal-closed">
                <div class="missions__modal-content-wrapper wrapper">
                    <h2 class="missions__modal-title">ATLAS II</h2>
                    <button class="missions__modal-close">
                        <i class="fa fa-close"></i>
                    </button>

                    <div class="missions__modal-options">
                        <button class="missions__modal-edit btn-one"><i class="fa fa-edit"></i></button>
                        <button class="missions__modal-remove btn-one"><i class="fa fa-remove"></i></button>
                    </div>

                    <div class="missions__modal-info">
                        <div class="missions__modal-details">
                            <div>
                                <h3>Lançamento: 15/05/2121</h3>
                                <h3>Estado: Finalizada</h3>
                                <h3>Duração: 3 anos</h3>
                            </div>
                            <div>
                                <h3>Destino: Zelphyr</h3>
                                <h3>Carga útil: Infraestutural</h3>
                                <h3>Custo: $2.529.300,89</h3>
                            </div>
                        </div>
                        <p class='missions__modal-description'>
                            A StarGaze estabeleceu uma base avançada no sistema estelar Zelphyr, na borda da galáxia de
                            Andrômeda, com o propósito específico de estudar e investigar anomalias gravitacionais que
                            ocorrem na região limítrofe entre Andrômeda e a Via Láctea. Essas anomalias são de
                            particular interesse devido ao seu potencial para revelar os segredos da interação entre as
                            duas galáxias e os fenômenos cósmicos que ocorrem em suas fronteiras.
                        </p>
                        <ol class='missions__modal-description'>
                            <li><strong>Pesquisa Aprofundada de Anomalias Gravitacionais:</strong> A base avançada em
                                Zelphyr concentra seus esforços na coleta de dados detalhados sobre as anomalias
                                gravitacionais presentes na região.</li>
                            <li><strong>Modelagem e Simulação Avançada:</strong> Utilizando os dados coletados, os
                                cientistas da StarGaze realizam modelagem e simulação avançadas para compreender melhor
                                a
                                natureza e a origem das anomalias gravitacionais.</li>
                            <li><strong>Exploração de Wormholes e Pontes de Einstein-Rosen:</strong> A presença de
                                anomalias gravitacionais na região sugere a possibilidade da existência de wormholes
                                (buracos de minhoca) e pontes de Einstein-Rosen.</li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>
        <!----------------------------------->
    </main>
    <!----------------------------------->

    <!-------- Rodapé da página --------->
    <footer>
        <div class="wrapper">
            <nav class="footer-nav">
                <ul class="footer-nav__list primary">
                    <li><a href="#">Início</a></li>
                    <li><a href="#">Missões</a></li>
                    <li><a href="login.html" target="_blank">Junte-se a nós</a></li>
                </ul>

                <ul class="footer-nav__list secondary">
                    <li><a href="#">Cookies</a></li>
                    <li><a href="#">Privacidade</a></li>
                    <li><a href="#">Segurança</a></li>
                </ul>

                <ul class="footer-nav__list social">
                    <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
                </ul>
            </nav>

            <h3>
                <span class="footer-nav__copy-msg-highlight">Copyright &copy; 2024</span><span
                    class='highlight copy-msg'>StarGaze</span>
            </h3>
        </div>
    </footer>
    <!----------------------------------->
</body>

</html>